Flask==1.1.2
itsdangerous==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.2
numpy==1.21.5
numpydoc==1.2
pandas==1.4.2
scikit-learn==1.0.2
scikit-learn-intelex==2021.20220215.102710
seaborn==0.11.2
Werkzeug==2.0.3
wheel==0.37.1

