<html>
    <body>
        <form action="/predict" method="POST">
            CRIM:<input type="text" name="CRIM"><br>
            ZN:<input type="text" name="ZN"><br>
            INDUS:<input type="text" name="INDUS"><br>
            CHAS:<input type="text" name="CHAS"><br>
            NOX:<input type="text" name="NOX"><br>
            RM:<input type="text" name="RM"><br>
            AGE:<input type="text" name="AGE"><br>
            DIS:<input type="text" name="DIS"><br>
            RAD:<input type="text" name="RAD"><br>
            TAX:<input type="text" name="TAX"><br>
            PTRATIO:<input type="text" name="PTRATIO"><br>
            B:<input type="text" name="B"><br>
            LSTAT:<input type="text" name="LSTAT"><br>
            Price:{{result}} <br>
            <input type="submit" value="Predict">
        </form>
    </body>
</html> 